<h2> About this Web </h2>
<div class="desc">
	
	<b> <font size = 6 > Gavin Chiang </font></b>
	<p>
		<ul>
			<li> Source code : <%=link_to("My github", "https://github.com/GavinChiang/g-shop" ) %> </li>
			<br>
			<li> If there are any problems, please feel free to contact me : cchsuan[at]umich.edu
			</li>
		</ul>
	</p>
</div>