<%= render :partial => "products/search_bar" %>

<br>
<div class="search-result">

<table class="table table-borderd">
     <%= render :partial => "products/item", :collection => @products, :as => :product %>

 </table>

</div>